@{
    ViewBag.Title = "Home Page";
}

@*<div class="container">*@
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <h1>Luffarschack</h1>
                <p class="lead">&copy; @DateTime.Now.Year - JONAS <span><b>och Nizar</b></span></p>
            </div>
                <div class="col-md-6">
                    <img src="~/Content/Images/21203862-origpic-ecffc4.gif" class="img-circle" alt="Cinque Terre" width="506" height="263">
                </div>
                
            </div>
</div>
    

    <button id="NyttS" type="button" class="btn btn-success">Nytt spel</button>
    <div onclick="showCoords(event)"><p id="demo"></p></div>
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong id="success">Status!</strong>
    </div>
    <body>
        @*<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.7.1.js"></script>*@
        @*<div class="container">*@
        <div>
            <canvas id="board" class='img-responsive' alt="bräde" width="1000" height="1000"></canvas>
        </div>
        @*<div>
                <canvas id="board" width="900" height="900"></canvas>
            </div>*@
        <div>
            <img id="Kryss" src="~/Content/Images/kryss.png" alt="Kryss" width="30" height="30">
            <img id="Cirkel" src="~/Content/Images/Cirkel.png" alt="Cirkel" width="30" height="30">
        </div>



    </body>
